@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define Root Variables */
:root {
  --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', Roboto, 'Helvetica Neue', Arial,
               'Noto Sans', sans-serif,
               'Apple Color Emoji', 'Segoe UI Emoji',
               'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: var(--font-sans);
  @apply bg-black text-white;
}

/* Ensure letter spacing and line height are adequate */
h1 {
  @apply text-6xl font-bold mb-6 bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-purple-600;
  line-height: 1.2; /* Ensure the line height is not too tight */
  padding-bottom: 0.6rem; /* Add extra padding to avoid cutting off descenders like 'y' */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Keyframes for Animations */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation Classes */
.animate-fadeIn {
  animation: fadeIn 1s ease-out both;
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out both;
}

/* Gradient Backgrounds */
.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.from-gray-900 {
  --tw-gradient-from: #111827;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(17, 24, 39, 0));
}

.to-black {
  --tw-gradient-to: #000000;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a6a6a;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a #2c2c2c;
}
